* {
  padding: 0;
  margin: 0;
}

:root {
  --dark-mode-elements: hsl(209, 23%, 22%);
  --dark-mode-background: hsl(207, 26%, 17%);
  --dark-mode-text: hsl(0, 0%, 100%);
}

html,
body {
  font-family: 'Nunito Sans', sans-serif;
  height: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  background-color: var(--dark-mode-elements);
  color: var(--dark-mode-text);
  font-size: .8rem;
  font-weight: 600;
}

.dark {
  font-weight: 300;
  color: var(--dark-mode-text);
  background: none;
  border: none;
  cursor: pointer;
}

main {
  background-color: var(--dark-mode-background);
  padding: 1rem;
}

#options {
  display: flex;
  justify-content: space-between;
  padding: 1rem 3rem;
}

#search,
#filter {
  background-color: var(--dark-mode-elements);
  border-radius: 3px;
  border: none;
  padding: .7rem;
  width: 20%;
  color: var(--dark-mode-text);
  font-weight: 300;
}

#search::placeholder {
  font-size: .8rem;
  font-weight: 300;
  color: var(--dark-mode-text);
}

#filter {
  width: auto;
  padding: 1rem;
  cursor: pointer;
}